body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.content {
    background: #626C85;
    height: 100%;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.chat-list {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.profile {
    padding: 20px;
    background: #3E415E;
    color: #fff;
}

.profile .status, .profile .name {
    display: inline-block;
    width: 50%;
}

.search {
    padding: 20px;
    background: #75A0FE;
}

.search input {
    border: none;
    padding: 0;
    margin: 0;
    background: #fff;
    height: 34px;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}


.list {
    background: #fff;
    width: 100%;
}

.list .user-item {
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    padding: 20px;
    box-sizing: border-box;
    border-left: 10px solid #fff;
}

.list .user-item.active {
    border-left: 10px solid #23C4B1;
}

.messages {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-left: 9%;
    
}

.messages-content {
    background-color: #E7E7E7;
    border-top: 10px solid #23C4B1;
    display: none;
}

.messages-content.active {
    display: block;
}

.input-message {
    background-color: #fff;
    border: none;
    padding: 20px;
    margin: 0;
}

.input-message input {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    height: 34px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.user-info {
    padding: 15px;
}

.user-info .status {
    float: right;
}

.message-list {
    padding: 20px;
    overflow: hidden;
}

.message-list .message {
    background: #fff;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 10px;
    float: left;
    clear: both;
}






